<div id="main">
  <h2>Quem vai <span class="total_entries">(<%= @subscriptions.total_entries%> inscritos)</span>:</h2>
  <ul id="go">
<% @subscriptions.each do |subscription| %>
    <li class="<%=h subscription.user.activity %>" id="<%= subscription.id %>">
    <% unless subscription.user.twitter_profile.blank? %>
      <img src="<%= subscription.user.twitter_image %>" alt="<%= subscription.user.twitter_name %>" style="float:left" width="48" height="48" />
    <% end %>
    <% unless subscription.user.site.blank? %>
      <h2><%= link_to subscription.user.name, subscription.user.humanize_site %></h2>
    <% else %>
      <h2><%=h subscription.user.name %></h2>
    <% end %>
    <% unless subscription.user.bio.blank? %>
      <p><%=h subscription.user.bio %></p>
    <% end %>
    <% unless subscription.user.twitter_profile.blank? %>
      <p>Siga no Twitter: <a href="http://twitter.com/<%= subscription.user.twitter_profile %>">@<%=h subscription.user.twitter_profile %></a></p>
    <% end %>
    </li>
  <% end %>
  </ul>
  <p>
    <%= link_to("Mais", users_path(:page => @page + 1), :class => "more") %>
  </p>
</div>
<div id="local">
  <p class="queroparticipar"><%= link_to "Quero participar", subscribe_path %></p>
  <p><a href="http://interaje.com.br/">Acesse o site do Interaje</a></p>
  <p><img src="/images/webcam-aoc.jpg" alt="Promoção: Concorra a uma Webcam AOC 3.5MP" /></p>
</div>