<div id="main">
  <h2>Quem vai:</h2>
  <ul id="go">
  <% @users.each do |user| %>
    <li class="<%=h user.activity %>" id="<%= user.id %>">
    <% unless user.twitter_profile.blank? %>
      <img src="<%= user.twitter_image %>" alt="<%= user.twitter_name %>" style="float:left" />
    <% end %>
		<% unless user.site.blank? %>
      <h2><%= link_to user.name, user.humanize_site %></h2>
		<% else %>
			<h2><%=h user.name %></h2>
		<% end %>
    <% unless user.bio.blank? %>
      <p><%=h user.bio %></p>
    <% end %>
    <% unless user.twitter_profile.blank? %>
      <p>Siga no Twitter: <a href="http://twitter.com/<%= user.twitter_profile %>">@<%=h user.twitter_profile %></a></p>
    <% end %>
    </li>
  <% end %>
  </ul>
	<p>
		<%= link_to("Mais", users_path(:page => @page + 1), :class => "more") %>
	</p>
</div>
<div id="local">
  <p class="queroparticipar">
    <%= link_to "Quero participar", subscribe_path %>
  </p>
  <%= render :partial => "sponsors" %>
</div>