<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Twitter</th>
    <th>Site</th>
    <th>Company</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td><%=h user.twitter %></td>
    <td><%=h user.site %></td>
    <td><%=h user.company %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', subscribe_path %>