<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Twitter:</b>
  <%=h @user.twitter %>
</p>

<p>
  <b>Site:</b>
  <%=h @user.site %>
</p>

<p>
  <b>Company:</b>
  <%=h @user.company %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>